@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color: #eee;
}

.base-container {
  @apply max-w-[1230px] px-[15px] mx-auto
}

.base-section-title {
  @apply text-2xl text-center my-[30px] capitalize
}

.base-btn {
  @apply text-center border border-teal-500 rounded-sm uppercase py-1 px-4
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s ease;
}

.slide-enter-to,
.slide-leave-from {
  opacity: 1;
  transform: translateX(0);
}
